body {
  font-family: "helvetica", sans-serif;
  color: #5b0e2d;
}
.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#ffa781, #8f5b44);
}
.board {
  width: 80%;
  height: 80%;
  display: grid;
  background-color: white;
  box-shadow: inset 0 -3em 3em black, 0 0 0 2px white, 0.3em 0.3em 1em black;
}
.board:hover {
  cursor: crosshair;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
}
.title {
  display: flex;
  justify-content: center;
}
.buttons {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 2em;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  cursor: pointer;
}
.blackButton {
  background-color: black;
  color: white;
}
.blackButton:hover {
  background-color: white;
  color: black;
}
.randomButton {
  background: linear-gradient(0.25turn, #f65cfc, #ebf8e1, #583cf6);
}
.randomButton:hover {
  background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.eraserButton {
  background-color: white;
  color: black;
}
.eraserButton:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
input {
  width: 50px;
}
.mode {
  margin-bottom: 5px;
}
.error {
  display: none;
}
.footer {
  font-size: 32px;
}
